<div class="container">
  <!-- <h1>This is {{title}}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae aliquid, dolor
    voluptate debitis quos nostrum, maxime a dignissimos adipisci natus accusamus
    magni neque voluptates vel! Expedita totam corrupti fugit quisquam
    consequatur, incidunt non tempore!
  </p> -->
  <h5>Welcome To Todo List</h5>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo-List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Todo</a>
          </li>
        </ul>     
      </div>
    </div>
  </nav>
  <div class="container">
    <h3 class="mb-3">Todo List by Abhishek Maurya</h3>
    <app-todos></app-todos>
  </div>
  
</div>